.img2 {
  background-image: url("../images/mission.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.mission-vision {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.mission {
  border: 2px solid black;
  background-color: #fec00f;
  width: 45vh;
  padding: 45px;
  border-radius: 15px;
  overflow: hidden;
}
.vision {
  border: 2px solid black;
  background-color: #fec00f;
  width: 45vh;
  padding: 45px;
  border-radius: 15px;
  overflow: hidden;
}
