/* About css */
body {
  font-family: "Lato", sans-serif;
  color: #393e46;
  height: 100%;
  width: 100%;
}
h1 {
  color: #ffd369;
  letter-spacing: 2px;
}
h4 {
  margin-top: 5vh;
}
h5 {
  margin-top: 2vh;
}
.containerAbout {
  display: flex;
  justify-content: center;
  text-align: center;
}
.about_us {
  width: 70%;
  padding: 30px 20px;
}
.img1 {
  width: 45%;
  padding: 20px 20px;
}
.learnMore {
  border-radius: 20px;
  height: 4vh;
  background-color: #ffd369;
  width: "110px";
}

/* mission css */
.img2 {
  width: 100%;
  height: 100%;
}
.mission-vision {
  display: flex;
  justify-content: center;
  margin-top: -90vh;
  margin-bottom: 50vh;
  padding: 30px;
}
.mission {
  border: 2px solid black;
  background-color: #ffd369;
  width: 45vh;
  padding: 40px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 40%;
  margin-bottom: 25vh;
}
.vision {
  border: 2px solid black;
  background-color: #ffd369;
  width: 45vh;
  padding: 40px;
  border-radius: 15px;
  overflow: hidden;
  margin-left: 40%;
}

/* Contact css */
h1 {
  color: #ffd369;
  letter-spacing: 2px;
}
.containerContact {
  padding: 20vh 10vh;
}

/* Course Offers */
.course1 {
  width: 80%;
}
.course2 {
  width: 80%;
}
.course3 {
  width: 80%;
}
.course4 {
  width: 80%;
}

/* Administration css */
.administration {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
}
.imgBx {
  width: 100%;
}
.container_team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 330px;
  height: 425px;
  background: #fbd46d;
  box-shadow: 5px 7px 1px #b1a97b;
  border-radius: 20px;
}
.contentBx,
.contentBx1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_team1 {
  display: flex;
  justify-content: space-around;
}

/* Course offers css */
.courses {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}
.bs1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bs2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio {
  margin-top: -43.3vh;
}
.bio3 {
  margin-bottom: -30vh;
}
.bs3 {
  display: flex;
  justify-content: flex-end;
  margin-right: -43vh;
}
.course1 {
  width: 100%;
  height: 95%;
}
.bs_nursing {
  display: flex;
}
.course2 {
  width: 100%;
  height: 98%;
}
.bs_pharmacy {
  display: flex;
  justify-content: flex-end;
  margin-top: -66vh;
  margin-left: 6vh;
}
.course3 {
  width: 105%;
  height: 90.2%;
  margin-left: 420px;
}
.bs_biology {
  display: flex;
  margin-top: -8vh;
}
.course4 {
  width: 95%;
  height: 100%;
  margin-left: 2vh;
}
.bs_psychology {
  display: flex;
  justify-content: flex-end;
  margin-top: -290px;
}
